<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Company Icon</span>
    <div class="header-center-div" fxFlexAlign="center center">
      <mat-form-field class="search-form-field">
        <input matInput type="text" placeholder="Search" (ngModel)="value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="accent"><mat-icon class="mat-18">search</mat-icon></button>
      <table>
        <td>
          <tr>Phone: </tr>
          <tr>email: </tr>
          <tr>Shops: </tr>
        </td>
      </table>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
